cbor2==5.9.0
pyzmq==27.1.0
stable-baselines3
coppeliasim-zmqremoteapi-client
gymnasium==1.2.3
numpy==2.4.4
opencv-python==4.13.0.92
tensorboard==2.20.0
ultralytics==8.4.33
clip==1.0
colorama==0.4.6
ftfy==6.3.1
regex==2026.3.32
tqdm==4.67.3
rich==14.3.3
wcwidth==0.6.0
# python -c "import gymnasium; import stable_baselines3; print('安装成功')"


# pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124